<h1> <%= @user.first_name %> <%= @user.last_name %></h1>
<small><%= @user.created_at.strftime("%b %d. %y") %> </small>
<p> <%= @user.email %></p>
<p><%= link_to("Edit User",edit_user_path) %></p>
<p><%= link_to("Go Back",users_path) %></p>