<h1> <%= @post.title %></h1>
<%= flash[:notice]%>
<small><%= @post.created_at.strftime("%b %d. %y") %> </small>
<p> <%= @post.body %></p>
<p><%= link_to("Edit Post",edit_post_path) %></p>
<p><%= link_to("Go Back",posts_path) %></p>